[user]
	name = Bob Doe
	email = bob@example.com
[core]
	editor = subl -w
	excludesfile = /Users/bob/.gitignore
[github]
	user = bobdoe
[mergetool]
	keepBackup = true
[credential]
	helper = osxkeychain
